In [1]:
import pandas as pd
df = pd.read_csv('school_grades_dataset.csv')

In [2]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
SGP = df.copy()
SGP.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [4]:
SGP.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [5]:
SGP_prototype = SGP.copy()

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
LB = LabelEncoder()

In [8]:
SGP['school'] = LB.fit_transform(SGP['school'])
SGP['sex'] = LB.fit_transform(SGP['sex'])
SGP['address'] = LB.fit_transform(SGP['address'])
SGP['famsize'] = LB.fit_transform(SGP['famsize'])
SGP['Pstatus'] = LB.fit_transform(SGP['Pstatus'])
SGP['Mjob'] = LB.fit_transform(SGP['Mjob'])
SGP['Fjob'] = LB.fit_transform(SGP['Fjob'])
SGP['famsize'] = LB.fit_transform(SGP['famsize'])
SGP['reason'] = LB.fit_transform(SGP['reason'])
SGP['guardian'] = LB.fit_transform(SGP['guardian'])
SGP['schoolsup'] = LB.fit_transform(SGP['schoolsup'])
SGP['famsup'] = LB.fit_transform(SGP['famsup'])
SGP['paid'] = LB.fit_transform(SGP['paid'])
SGP['activities'] = LB.fit_transform(SGP['activities'])
SGP['nursery'] = LB.fit_transform(SGP['nursery'])
SGP['higher'] = LB.fit_transform(SGP['higher'])
SGP['internet'] = LB.fit_transform(SGP['internet'])
SGP['romantic'] = LB.fit_transform(SGP['romantic'])

In [9]:
SGP.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,18,1,0,0,4,4,0,4,...,4,3,4,1,1,3,4,0,11,11
1,0,0,17,1,0,1,1,1,0,2,...,5,3,3,1,1,3,2,9,11,11
2,0,0,15,1,1,1,1,1,0,2,...,4,3,2,2,3,3,6,12,13,12
3,0,0,15,1,0,1,4,2,1,3,...,3,2,2,1,1,5,0,14,14,14
4,0,0,16,1,0,1,3,3,2,2,...,4,3,2,1,2,5,0,11,13,13

In [10]:
sgp_corr = SGP.corr()
sgp_corr['G3'].sort_values(ascending=False)

G3            1.000000
G2            0.918548
G1            0.826387
higher        0.332172
studytime     0.249789
Medu          0.240151
Fedu          0.211800
address       0.167637
internet      0.150025
Mjob          0.148252
reason        0.124969
famrel        0.063361
activities    0.059791
famsup        0.059206
Fjob          0.052953
famsize       0.045016
nursery       0.028752
Pstatus      -0.000754
paid         -0.054898
schoolsup    -0.066405
guardian     -0.079609
goout        -0.087641
romantic     -0.090583
absences     -0.091379
health       -0.098851
age          -0.106505
freetime     -0.122705
traveltime   -0.127173
sex          -0.129077
Walc         -0.176619
Dalc         -0.204719
school       -0.284294
failures     -0.393316
Name: G3, dtype: float64

In [11]:
SGP.to_csv('LabelEncodedSGP.csv')

In [12]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(SGP, test_size=0.2, random_state=25)
print ("Training and testing split was successful.")

Training and testing split was successful.

In [13]:
SGP_label = train_set["G3"]
train_set.drop('G3', inplace=True, axis=1)

/home/dee/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

# Linear Regression with Label Encoder and Unprocessed Features

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lin_reg = LinearRegression()

In [16]:
features_prepared = train_set.copy()

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
features_std = scaler.fit(features_prepared)
features_std = scaler.transform(features_prepared)

/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [18]:
lin_reg.fit(features_std, SGP_label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [19]:
some_data = train_set.iloc[:5]
some_labels = SGP_label.iloc[:5]
some_data_prepared = scaler.fit(some_data)
some_data_prepared = scaler.transform(some_data)

/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [20]:
print("Predictions:", lin_reg.predict(some_data_prepared))
print("Labels:", list(some_labels))

Predictions: [ 7.6056972  11.45596271 10.28689573 16.31314503 13.9722107 ]
Labels: [11, 15, 13, 17, 15]

In [21]:
#Validation for Linear Regression
import numpy as np
from sklearn.model_selection import cross_val_score
scores = cross_val_score(lin_reg, features_std, SGP_label, scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-scores)
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation", scores.std())
display_scores(lin_rmse_scores)

Scores: [1.40414025 1.38974437 0.86478356 1.82139455 1.3853123  0.8656621
 1.10838138 1.60017975 0.95751449 0.93638977]
Mean: 1.233350251641254
Standard deviation 0.31749092763295267

In [22]:
from sklearn.model_selection import GridSearchCV
param_grid = [
    {'copy_X': [True, False], 'fit_intercept':[True, False], 'n_jobs':[None, 2, 4, 6, 8], 'normalize':[False, True]}
]
grid_search = GridSearchCV(lin_reg, param_grid, cv=10, scoring='neg_mean_squared_error')
grid_search.fit(features_std, SGP_label)

/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'copy_X': [True, False], 'fit_intercept': [True, False], 'n_jobs': [None, 2, 4, 6, 8], 'normalize': [False, True]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [23]:
grid_search.best_params_

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': True}

In [24]:
grid_search.best_estimator_

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [25]:
#cvres = grid_search.cv_results_
#for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
 #   print(np.sqrt(-mean_score), params)

In [26]:
from sklearn.metrics import mean_squared_error
final_model = grid_search.best_estimator_
final_predictions = final_model.predict(features_std)
final_mse = mean_squared_error(SGP_label, final_predictions)
final_rmse = np.sqrt(final_mse)
final_rmse

1.200432303636175

In [27]:
some_data = train_set.iloc[:5]
some_labels = SGP_label.iloc[:5]
some_data_prepared = scaler.fit(some_data)
some_data_prepared = scaler.transform(some_data)
print("predictions:", lin_reg.predict(some_data_prepared))
print("Labels:", list(some_labels))

predictions: [ 7.6056972  11.45596271 10.28689573 16.31314503 13.9722107 ]
Labels: [11, 15, 13, 17, 15]

/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

# Linear Regression with Label Encoder and Processed Features

In [28]:
SGP.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,18,1,0,0,4,4,0,4,...,4,3,4,1,1,3,4,0,11,11
1,0,0,17,1,0,1,1,1,0,2,...,5,3,3,1,1,3,2,9,11,11
2,0,0,15,1,1,1,1,1,0,2,...,4,3,2,2,3,3,6,12,13,12
3,0,0,15,1,0,1,4,2,1,3,...,3,2,2,1,1,5,0,14,14,14
4,0,0,16,1,0,1,3,3,2,2,...,4,3,2,1,2,5,0,11,13,13

In [29]:
sgp_corr = SGP.corr()
sgp_corr['G3'].sort_values(ascending=False)

G3            1.000000
G2            0.918548
G1            0.826387
higher        0.332172
studytime     0.249789
Medu          0.240151
Fedu          0.211800
address       0.167637
internet      0.150025
Mjob          0.148252
reason        0.124969
famrel        0.063361
activities    0.059791
famsup        0.059206
Fjob          0.052953
famsize       0.045016
nursery       0.028752
Pstatus      -0.000754
paid         -0.054898
schoolsup    -0.066405
guardian     -0.079609
goout        -0.087641
romantic     -0.090583
absences     -0.091379
health       -0.098851
age          -0.106505
freetime     -0.122705
traveltime   -0.127173
sex          -0.129077
Walc         -0.176619
Dalc         -0.204719
school       -0.284294
failures     -0.393316
Name: G3, dtype: float64

In [30]:
SGP.drop(['reason', 'famrel', 'activities', 'famsup', 'Fjob', 'famsize', 'nursery', 'Pstatus', 'paid',
          'schoolsup', 'guardian', 'goout', ], axis=1,inplace=True)

In [31]:
SGP.head()

,school,sex,age,address,Medu,Fedu,Mjob,traveltime,studytime,failures,...,internet,romantic,freetime,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,18,1,4,4,0,2,2,0,...,0,0,3,1,1,3,4,0,11,11
1,0,0,17,1,1,1,0,1,2,0,...,1,0,3,1,1,3,2,9,11,11
2,0,0,15,1,1,1,0,1,2,0,...,1,0,3,2,3,3,6,12,13,12
3,0,0,15,1,4,2,1,1,3,0,...,1,1,2,1,1,5,0,14,14,14
4,0,0,16,1,3,3,2,1,2,0,...,0,0,3,1,2,5,0,11,13,13

In [32]:
sgp_corr = SGP.corr()
sgp_corr['G3'].sort_values(ascending=False)

G3            1.000000
G2            0.918548
G1            0.826387
higher        0.332172
studytime     0.249789
Medu          0.240151
Fedu          0.211800
address       0.167637
internet      0.150025
Mjob          0.148252
romantic     -0.090583
absences     -0.091379
health       -0.098851
age          -0.106505
freetime     -0.122705
traveltime   -0.127173
sex          -0.129077
Walc         -0.176619
Dalc         -0.204719
school       -0.284294
failures     -0.393316
Name: G3, dtype: float64

In [33]:
SGP.drop(['address', 'internet', 'Mjob', 'romantic', 'absences', 'health'], axis=1,inplace=True)

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(SGP, test_size=0.2, random_state=25)
print ("Training and testing split was successful.")

Training and testing split was successful.

In [35]:
Y_train = X_train['G3']
X_train.drop('G3',inplace=True, axis=1)
X_train_copied = X_train.copy()
X_train_scaled = scaler.fit(X_train_copied)
X_train_scaled = scaler.transform(X_train_copied)
lin_reg.fit(X_train_scaled, Y_train)
some_data = X_train.iloc[:5]
some_labels = Y_train.iloc[:5]
some_data_prepared = scaler.fit(some_data)
some_data_prepared = scaler.transform(some_data)
print("Predictions:", lin_reg.predict(some_data_prepared))
print("Labels:", list(some_labels))

Predictions: [ 7.73248607 11.1254892  10.42702262 16.48052012 13.86839336]
Labels: [11, 15, 13, 17, 15]

/home/dee/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """
/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  # Remove the CWD from sys.path while we load stuff.

In [36]:
import numpy as np
from sklearn.model_selection import cross_val_score
scores = cross_val_score(lin_reg, X_train_scaled, Y_train, scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-scores)
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation", scores.std())
display_scores(lin_rmse_scores)

Scores: [1.4601906  1.35899089 0.85671696 1.81790418 1.36997646 0.82488069
 1.07019633 1.59374151 0.94798692 0.90786374]
Mean: 1.2208448279805775
Standard deviation 0.32842397016301744

# LOGISTIC REGRESSION WITH LABEL BINARIZER AND PROCESSED FEATURES

In [37]:
SGP.head()

,school,sex,age,Medu,Fedu,traveltime,studytime,failures,higher,freetime,Dalc,Walc,G1,G2,G3
0,0,0,18,4,4,2,2,0,1,3,1,1,0,11,11
1,0,0,17,1,1,1,2,0,1,3,1,1,9,11,11
2,0,0,15,1,1,1,2,0,1,3,2,3,12,13,12
3,0,0,15,4,2,1,3,0,1,2,1,1,14,14,14
4,0,0,16,3,3,1,2,0,1,3,1,2,11,13,13

In [38]:
SGP_prototype.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [39]:
SGP = pd.DataFrame(SGP_prototype, columns=['school', 'sex', 'age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'higher', 'freetime', 'Dalc', 'Walc', 'G1', 'G2', 'G3'])

In [40]:
SGP.head()

,school,sex,age,Medu,Fedu,traveltime,studytime,failures,higher,freetime,Dalc,Walc,G1,G2,G3
0,GP,F,18,4,4,2,2,0,yes,3,1,1,0,11,11
1,GP,F,17,1,1,1,2,0,yes,3,1,1,9,11,11
2,GP,F,15,1,1,1,2,0,yes,3,2,3,12,13,12
3,GP,F,15,4,2,1,3,0,yes,2,1,1,14,14,14
4,GP,F,16,3,3,1,2,0,yes,3,1,2,11,13,13

In [41]:
from sklearn.preprocessing import LabelBinarizer
LB = LabelBinarizer()
SGP['school'] = LB.fit_transform(SGP['school'])
SGP['sex'] = LB.fit_transform(SGP['sex'])
SGP['higher'] = LB.fit_transform(SGP['higher'])

In [42]:
SGP.to_csv('LabelBinarizedSGP.csv')

In [43]:
SGP.head()

,school,sex,age,Medu,Fedu,traveltime,studytime,failures,higher,freetime,Dalc,Walc,G1,G2,G3
0,0,0,18,4,4,2,2,0,1,3,1,1,0,11,11
1,0,0,17,1,1,1,2,0,1,3,1,1,9,11,11
2,0,0,15,1,1,1,2,0,1,3,2,3,12,13,12
3,0,0,15,4,2,1,3,0,1,2,1,1,14,14,14
4,0,0,16,3,3,1,2,0,1,3,1,2,11,13,13

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(SGP, test_size=0.2, random_state=25)
print ("Training and testing split was successful.")

Training and testing split was successful.

In [45]:
Y_train = X_train['G3']
X_train.drop('G3',inplace=True, axis=1)
X_train_set = X_train.copy()
X_train_set_scaled = scaler.fit(X_train_set)
X_train_set_scaled = scaler.transform(X_train_set)
lin_reg.fit(X_train_set_scaled, Y_train)
some_data = X_train.iloc[:10]
some_labels = Y_train.iloc[:10]
some_data_prepared = scaler.fit(some_data)
some_data_prepared = scaler.transform(some_data)
print("Predictions:", lin_reg.predict(some_data_prepared))
print("Labels:", list(some_labels))

Predictions: [ 8.96823145 12.34795205 11.60372338 17.10296166 14.70948439 15.64488629
 12.22510737  8.7931496  11.10917941  6.76314715]
Labels: [11, 15, 13, 17, 15, 15, 12, 10, 11, 8]

/home/dee/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """
/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/dee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  # Remove the CWD from sys.path while we load stuff.

It can be seen here that LabelBinerizer which combines LabelEncoder and OneHotEncodings, significantly increased the accuracy of the model.

We'll therefore try LabelBinarizer with ForestRegressor, after checking the validations

In [46]:
#Validation for Linear Regression
import numpy as np
from sklearn.model_selection import cross_val_score
scores = cross_val_score(lin_reg, X_train_set_scaled, Y_train, scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-scores)
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation", scores.std())
display_scores(lin_rmse_scores)

Scores: [1.4601906  1.35899089 0.85671696 1.81790418 1.36997646 0.82488069
 1.07019633 1.59374151 0.94798692 0.90786374]
Mean: 1.2208448279805775
Standard deviation 0.32842397016301744

In [47]:
from sklearn.model_selection import GridSearchCV
param_grid = [
    {'copy_X': [True, False], 'fit_intercept':[True, False], 'n_jobs':[None, 2, 4, 6, 8], 'normalize':[False, True]}
]
grid_search = GridSearchCV(lin_reg, param_grid, cv=10, scoring='neg_mean_squared_error')
grid_search.fit(X_train_set_scaled, Y_train)

/home/dee/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'copy_X': [True, False], 'fit_intercept': [True, False], 'n_jobs': [None, 2, 4, 6, 8], 'normalize': [False, True]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [48]:
grid_search.best_params_

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': True}

In [49]:
from sklearn.metrics import mean_squared_error
final_model = grid_search.best_estimator_
final_predictions = final_model.predict(X_train_set_scaled)
final_mse = mean_squared_error(Y_train, final_predictions)
final_rmse = np.sqrt(final_mse)
final_rmse

1.2230554227651778

In [50]:
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

1.26483830405657 {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}
1.2648383040565698 {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': True}
1.26483830405657 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 2, 'normalize': False}
1.2648383040565698 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 2, 'normalize': True}
1.26483830405657 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 4, 'normalize': False}
1.2648383040565698 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 4, 'normalize': True}
1.26483830405657 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 6, 'normalize': False}
1.2648383040565698 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 6, 'normalize': True}
1.26483830405657 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 8, 'normalize': False}
1.2648383040565698 {'copy_X': True, 'fit_intercept': True, 'n_jobs': 8, 'normalize': True}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': None, 'normalize': False}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': None, 'normalize': True}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 2, 'normalize': False}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 2, 'normalize': True}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 4, 'normalize': False}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 4, 'normalize': True}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 6, 'normalize': False}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 6, 'normalize': True}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 8, 'normalize': False}
12.334572060322058 {'copy_X': True, 'fit_intercept': False, 'n_jobs': 8, 'normalize': True}
1.26483830405657 {'copy_X': False, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}
1.2648383040565698 {'copy_X': False, 'fit_intercept': True, 'n_jobs': None, 'normalize': True}
1.26483830405657 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 2, 'normalize': False}
1.2648383040565698 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 2, 'normalize': True}
1.26483830405657 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 4, 'normalize': False}
1.2648383040565698 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 4, 'normalize': True}
1.26483830405657 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 6, 'normalize': False}
1.2648383040565698 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 6, 'normalize': True}
1.26483830405657 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 8, 'normalize': False}
1.2648383040565698 {'copy_X': False, 'fit_intercept': True, 'n_jobs': 8, 'normalize': True}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': None, 'normalize': False}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': None, 'normalize': True}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 2, 'normalize': False}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 2, 'normalize': True}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 4, 'normalize': False}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 4, 'normalize': True}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 6, 'normalize': False}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 6, 'normalize': True}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 8, 'normalize': False}
12.334572060322058 {'copy_X': False, 'fit_intercept': False, 'n_jobs': 8, 'normalize': True}

In [51]:
SGP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 15 columns):
school        649 non-null int64
sex           649 non-null int64
age           649 non-null int64
Medu          649 non-null int64
Fedu          649 non-null int64
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
higher        649 non-null int64
freetime      649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
dtypes: int64(15)
memory usage: 76.1 KB